@page "/register"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject RegistroUseCase registroUseCase
@inject LoginUseCase loginUseCase
@inject UiNotifier Notifier


<PageTitle>Registro de usuario</PageTitle>

<h1> Bienvenido! </h1>

<form class="formulario" @onsubmit="OnSubmitRegister">
    <label for="nombre">Nombre:</label>
    <input required id="nombre" type="nombre" @bind="nombre" />

    <label for="apellido">Apellido:</label>
    <input required id="apellido" type="apellido" @bind="apellido" />

    <label for="email">Email:</label>
    <input required id="email" type="email" @bind="email" />

    <label for="password">Contraseña:</label>
    <input required id="password" type="@passwd_text" @bind="password" />

    <label for="showpass">Mostrar contraseña
        <input id="showpass" type="checkbox" @onclick="TogglePw" />
    </label>

    <button type="submit" class="btn btn-primary">Registrarse</button>

    <p>¿Ya tenés un usuario? <a href="/">Login</a></p>

</form>

@code
{
    private string nombre = "";
    private string apellido = "";
    private string email = "";
    private string password = "";
    private string passwd_text = "password";


    private Task OnSubmitRegister()
    {
        Registro();
        return Task.CompletedTask;
    }

    protected void Registro()
    {

        Usuario usuario = new Usuario(nombre, apellido, email, password);
        registroUseCase.Ejecutar(usuario);
        loginUseCase.Ejecutar(email, password);
        Notifier.Notify();
        Navigation.NavigateTo("/home");
    }

    private void TogglePw()
    {
        if (passwd_text == "password")
            passwd_text = "text";
        else
            passwd_text = "password";
    }
}
